
.celda{
	text-align: right; background-color: #000000;
}

.tabla2{
}

ul{
	list-style-type: none;
}

.list1{
}

.text1{
	text-align: center;}

.celda2{
	background-color:;
}

.rectangulo1{
	width: 400px;
	height: 200px;
	border: 100px;
	background-color: #000000;
	text-align: center;
	margin-right: center;
}

h2{
	color: #ffffff;
}
-++



