
body{
	color: #ffffff;
	background-image: url("descarga 7.jpg");
	background-size: 110%;
	background-repeat: no-repeat;
}

.Menu{
	text-align: right;
	background-color: #000000;
	padding-right: 10px;
}

.tabla2{
}

ul{
	list-style-type: none;
}

.text1{
	text-align: center;}

.celda2{
	background-color:;
}

.rectangulo1{
	width: 400px;
	height: 200px;
	border: 100px;
	background-color: #000000;
	text-align: center;
	margin-right: center;
}





