
h1{
	color: #821717;
}

body{
	background-color: #739186;
}

p{
	color: #313452;
}

.VioletParagraph{
	color: #634c70;
}

table, td{
	border-style: dashed;
}

table{
	border-width: 4px;
	border-color:#3b3232;
	margin-left: auto;
	margin-right: auto;  
}

td{
	border-width: 2px;
	border-color:#323B34;
}
body{
	background-image: url("Background cake.jpg");
	background-size: x%;
	background-repeat: x;
}

img{
	border-radius: 25px;
}

img:hover{
	opacity: 0.75
}

ul{
	list-style-type: none;
	background-color:#526670;
	overflow: hidden;
}

li a{
	float: left;
	display: block;
	width: 150px;
	background-color: #6B704C;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}
li a:hover{
	background-color: #C69289;
}
.active{
	border-bottom: 2px solid; background-color: #91837C;
}
